<h1>Este es el titulo Home</h1>
<p class="lead">Seguramente habra mas contenido para este link vacio home, que sera el inicio</p>

<%= image_tag "2794862_mega-kot_cinderace.gif", class: "img-fluid rounded shadow-lg", style: "max-width: 600px;" %>